<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings autostart="false" classfilecollection="true" classfileloadmessages="true" consolewindow="true" dymanicclassfilecollection="false" dymanicclassfilecp="C:\Users\aaron\OneDrive\Documents\DCFCTestFolder" funclooptimeout="10" injectonstartup="false" jnienvtimeout="100"/>